exportPattern("^[[:alpha:]]+")
useDynLib(lcmm)
S3method(print,hlme)
S3method(summary,hlme)
S3method(plot,hlme)
S3method(plot.predict,hlme)
S3method(plot.postprob,hlme)
S3method(postprob,hlme)
export(plot.predict,plot.postprob,postprob)
