exportPattern("^[[:alpha:]]+")
useDynLib(lcmm)
import(survival)

S3method(print,hlme)
S3method(summary,hlme)
S3method(plot,hlme)
S3method(plot.predict,hlme)
S3method(plot.postprob,hlme)
S3method(postprob,hlme)

S3method(print,lcmm)
S3method(summary,lcmm)
S3method(plot,lcmm)
S3method(plot.predict,lcmm)
S3method(plot.postprob,lcmm)
S3method(postprob,lcmm)

S3method(print,Jointlcmm)
S3method(summary,Jointlcmm)
S3method(plot,Jointlcmm)
S3method(plot.predict,Jointlcmm)
S3method(plot.postprob,Jointlcmm)
S3method(postprob,Jointlcmm)
S3method(plot.baselinerisk,Jointlcmm)
S3method(plot.survival,Jointlcmm)

export(plot.predict,plot.postprob,postprob,plot.baselinerisk,plot.survival)
